apiVersion: v1 
kind: Service
metadata:
  name: todo-backend-svc
  namespace: todo
spec:
  type: ClusterIP
  selector:
    app: todo-backend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000  