apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster
  namespace: todo
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
      - name: broadcaster
        image: BROADCASTER_IMAGE
        imagePullPolicy: Always
        env:
        - name: NATS_URL
          value: "nats://my-nats.todo.svc.cluster.local:4222"
        - name: DISCORD_WEBHOOK_URL
          valueFrom:
            secretKeyRef:
              name: broadcaster-secret
              key: discord-webhook-url
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
