apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-app
  namespace: log-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong-app
  template:
    metadata:
      labels:
        app: ping-pong-app
    spec:
      containers:
        - name: ping-pong-app
          image: zanaad/ping-pong-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"