apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - persistent-volume-claim.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - ingress.yaml
images:
  - name: TODO_APP_IMAGE
    newName: zanaad/todo-app
    newTag: latest