apiVersion: v1
kind: Service
metadata:
  name: todo-app-svc
  namespace: todo
spec:
  type: ClusterIP
  selector:
    app: todo-app
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000