name: Release application

on: 
  push:
    branches:
      - main
      - "**"
    paths:
      - 'todo-project/**'
      - '.github/workflows/todo-deploy.yaml'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-west3-b
  REGISTRY: europe-west3-docker.pkg.dev
  REPOSITORY: todo-project
  FRONTEND_IMAGE: todo-app
  BACKEND_IMAGE: todo-backend
  BROADCASTER_IMAGE: broadcaster
  JOB_IMAGE: todo-cronjob
  BRANCH: ${{ github.ref_name }}

jobs:
  build-publish-gitops:
    name: Build, Publish and Update GitOps
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Authenticate to Google Cloud 
       uses: google-github-actions/auth@v2
       with:
         credentials_json: '${{ secrets.GKE_SA_KEY }}'
     
     - name: Set up Cloud SDK
       uses: google-github-actions/setup-gcloud@v2

     - name: Configure Docker
       run: |
        gcloud auth configure-docker europe-west3-docker.pkg.dev --quiet

     - name: Build and push Frontend image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:$BRANCH-$GITHUB_SHA ./todo-project/todo-app
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:$BRANCH-$GITHUB_SHA
        
     - name: Build and push Backend image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:$BRANCH-$GITHUB_SHA ./todo-project/todo-backend
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:$BRANCH-$GITHUB_SHA

     - name: Build and push Broadcaster image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:$BRANCH-$GITHUB_SHA ./todo-project/broadcaster
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:$BRANCH-$GITHUB_SHA

     - name: Build and push Job image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:$BRANCH-$GITHUB_SHA ./todo-project/todo-job
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:$BRANCH-$GITHUB_SHA 
      
     - name: Set up Kustomize
       uses: imranismail/setup-kustomize@v2.1.0

     - name: Update image tags in kustomization files
       run: |
        cd ./todo-project
        
        kustomize edit set image TODO_APP_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:$BRANCH-$GITHUB_SHA
        kustomize edit set image TODO_BACKEND_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:$BRANCH-$GITHUB_SHA
        kustomize edit set image TODO_JOB_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:$BRANCH-$GITHUB_SHA
        kustomize edit set image BROADCASTER_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:$BRANCH-$GITHUB_SHA

     - name: Commit updated kustomization files
       uses: EndBug/add-and-commit@v9
       with:
         add: 'todo-project/kustomization.yaml'
         message: 'Update todo-project images to ${{ github.sha }}'
         default_author: github_actions