name: Release application

on: 
  push:
    branches:
      - main
    paths:
      - 'todo-project/**'
      - '.github/workflows/todo-deploy.yaml'
    tags:
      - 'v*'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-west3-b
  REGISTRY: europe-west3-docker.pkg.dev
  REPOSITORY: todo-project
  FRONTEND_IMAGE: todo-app
  BACKEND_IMAGE: todo-backend
  BROADCASTER_IMAGE: broadcaster
  JOB_IMAGE: todo-cronjob

jobs:
  build-publish-staging:
    name: Build and Deploy to Staging
    if: github.ref == 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Authenticate to Google Cloud 
       uses: google-github-actions/auth@v2
       with:
         credentials_json: '${{ secrets.GKE_SA_KEY }}'
     
     - name: Set up Cloud SDK
       uses: google-github-actions/setup-gcloud@v2

     - name: Configure Docker
       run: |
        gcloud auth configure-docker europe-west3-docker.pkg.dev --quiet

     - name: Build and push Frontend image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:staging-$GITHUB_SHA ./todo-project/base/todo-app
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:staging-$GITHUB_SHA
        
     - name: Build and push Backend image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:staging-$GITHUB_SHA ./todo-project/base/todo-backend
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:staging-$GITHUB_SHA

     - name: Build and push Broadcaster image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:staging-$GITHUB_SHA ./todo-project/base/broadcaster
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:staging-$GITHUB_SHA

     - name: Build and push Job image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:staging-$GITHUB_SHA ./todo-project/base/todo-job
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:staging-$GITHUB_SHA 
      
     - name: Set up Kustomize
       uses: imranismail/setup-kustomize@v2.1.0

     - name: Update staging image tags
       run: |
        cd ./todo-project/overlays/staging
        
        kustomize edit set image TODO_APP_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:staging-$GITHUB_SHA
        kustomize edit set image TODO_BACKEND_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:staging-$GITHUB_SHA
        kustomize edit set image TODO_JOB_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:staging-$GITHUB_SHA
        kustomize edit set image BROADCASTER_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:staging-$GITHUB_SHA

     - name: Commit staging kustomization
       uses: EndBug/add-and-commit@v9
       with:
         add: 'todo-project/overlays/staging/kustomization.yaml'
         message: 'Update staging images to ${{ github.sha }}'
         pull: '--rebase --autostash'
         default_author: github_actions

  build-publish-production:
    name: Build and Deploy to Production
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Get tag name
       id: tag
       run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

     - name: Authenticate to Google Cloud 
       uses: google-github-actions/auth@v2
       with:
         credentials_json: '${{ secrets.GKE_SA_KEY }}'
     
     - name: Set up Cloud SDK
       uses: google-github-actions/setup-gcloud@v2

     - name: Configure Docker
       run: |
        gcloud auth configure-docker europe-west3-docker.pkg.dev --quiet

     - name: Build and push Frontend image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:${{ steps.tag.outputs.TAG }} ./todo-project/base/todo-app
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:${{ steps.tag.outputs.TAG }}
        
     - name: Build and push Backend image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:${{ steps.tag.outputs.TAG }} ./todo-project/base/todo-backend
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:${{ steps.tag.outputs.TAG }}

     - name: Build and push Broadcaster image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:${{ steps.tag.outputs.TAG }} ./todo-project/base/broadcaster
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:${{ steps.tag.outputs.TAG }}

     - name: Build and push Job image
       run: |
         docker build -t $REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:${{ steps.tag.outputs.TAG }} ./todo-project/base/todo-job
         docker push $REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:${{ steps.tag.outputs.TAG }} 
      
     - name: Set up Kustomize
       uses: imranismail/setup-kustomize@v2.1.0

     - name: Update production image tags
       run: |
        cd ./todo-project/overlays/prod
        
        kustomize edit set image TODO_APP_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$FRONTEND_IMAGE:${{ steps.tag.outputs.TAG }}
        kustomize edit set image TODO_BACKEND_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$BACKEND_IMAGE:${{ steps.tag.outputs.TAG }}
        kustomize edit set image TODO_JOB_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$JOB_IMAGE:${{ steps.tag.outputs.TAG }}
        kustomize edit set image BROADCASTER_IMAGE=$REGISTRY/$PROJECT_ID/$REPOSITORY/$BROADCASTER_IMAGE:${{ steps.tag.outputs.TAG }}

     - name: Commit production kustomization
       uses: EndBug/add-and-commit@v9
       with:
         add: 'todo-project/overlays/prod/kustomization.yaml'
         message: 'Update production images to ${{ steps.tag.outputs.TAG }}'
         pull: '--rebase --autostash'
         default_author: github_actions